html{
	height: 100%
}
body{
	height:100%;
	background:url(../img/comppattern2.png) repeat; 
	font:normal 1em 'fira_sanlight';
	color: #4a545d;
}
.wrapper{
	position:relative;
	min-height:100%;
	height:auto!important;
	overflow:hidden;
	margin: 0 auto 83px auto;
}
.wrapper:after {
	content: "";
	
	display: block;
}
.page-footer{
	height: 80px;
	margin: -80px auto 0px auto;
	background:#eff3f7  url('/img/line.png') top center no-repeat;;
}
.footer-container{
	min-width:960px;
	max-width:1200px;
	margin: 0 auto;
}


.main-container{
	background-color: #eff3f7;
	border-radius:2% 2% 0% 0%;
	overflow: hidden;

}

.main-container-header{
	background: #48cbe8;
	color:#3ba8c0;
	padding: 14px 23px;
	border-bottom: 17px solid #67dffa;
	margin-bottom:48px;
}

.container-header-text{
	text-align: center;
  	vertical-align: middle;
	font-size: 27px;
	color:#ffffff;
	font-family:fira_sansbook;
	font-weight:normal;
}
.main-container-body{
	width:100%;
}

.form-wrapper{
	width: 402px;
	margin: 0 auto;
}
.input-name-wrapper{
	width:192px;
	float:left;
}
.input-mail-wrapper{
	width:192px;
	float:right;
}
.input-form{
  width: 190px;
  border: 1px solid #48cbe8;
  font-family: fira_sanslight;
  font-size: 13px;
  color: #48cbe8;
  height: 41px;
  border-radius: 4px;
}
.form-title{
	font-size:19px;
	font-family: fira_sanslight;
	color: #4a545d;
}
.textarea-form{
	width :400px;
	border: 1px solid #48cbe8;
	font-family: fira_sanslight;
	font-size: 13px;
	color: #48cbe8;
	height: 183px;
	border-radius: 4px;
	padding:0;

}
.text-aria-wrapper{
	margin-bottom: 20px;
}
.input-form-container{
	margin-bottom: 20px;
}
.captcha-img{
	float:left;
}
.captcha-input{
	float:right;
}
.captcha-wrapper{
	margin-bottom: 20px;
}
.submit-form{
	padding: 8px 20px 4px;
	background-color: #48cbe8;
	border: none;
	float:left;
	border-radius: 2px;
	font-family: fira_sansbook;
	font-size:19px;
  	color: #FFF;
}
.reset-form{
	padding: 8px 20px 4px;
	background-color: #849db5;
	border: none;
	border-radius: 2px;
	font-family: fira_sansbook;
	font-size:19px;
  	color: #FFF;
	float:right;
}
.buttons-wrapper{
	margin-bottom: 200px;
}
.copyright{
	padding-top:32px;
	margin:0 auto;
	font-family: fira_sanslight;
	font-size:13px;
	width:400px;
}

.clearfix:before,
.clearfix:after{
	content:" ";
	display:table;
}
.clearfix:after{
	clear:both;
}