html{
	height: 100%
}
body{
	height:100%;
	background:url(../img/comppattern2.png) repeat; 
	font:normal 1em 'fira_sanlight';
	color: #4a545d;
}
.wrapper{
	position:relative;
	min-height:100%;
	height:auto!important;
	overflow:hidden;
	margin: 0 auto 83px auto;
}
.wrapper:after {
	content: "";
	
	display: block;
}
.page-footer{
	height: 80px;
	margin: -80px auto 0px auto;
	background:#eff3f7  url('/img/line.png') top center no-repeat;;
}
.footer-container{
	min-width:960px;
	max-width:1200px;
	margin: 0 auto;
}


.popap-container{
	width:590px;
	background-color: #eff3f7;
	border-radius:2% 2% 0% 0%;
	overflow: hidden;

	margin:100px auto;

}

.popap-container-header{
	background: #48cbe8;
	color:#3ba8c0;
	padding: 1px 23px;
	border-bottom: 13px solid #67dffa;
	margin-bottom:40px;
}

.popap-container-header-text{
	text-align: center;
  	vertical-align: middle;
	font-size: 27px;
	color:#ffffff;
	font-family:fira_sansbook;
	font-weight:normal;
}
.popap-container-body{
	width:420px;
	margin: 0 auto;
}

.popap-form-wrapper{
	width: 402px;
	margin: 0 auto;
}
.popap-input-name-wrapper{
	width:100%;

}
.popap-input-mail-wrapper{
	width:100%;
}
.popap-input-form{
  width: 100%;
  border: 1px solid #48cbe8;
  font-family: fira_sanslight;
  font-size: 13px;
  color: #48cbe8;
  height: 60px;
  border-radius: 4px;
}
.popap-form-title{
	font-size:36px;
	font-family: fira_sanslight;
	color: #849db5;
	text-align:center;
}

.popap-input-form-container{
	margin-bottom: 20px;
}

.popap-submit-form{
	padding: 8px 20px 4px;
	background-color: #48cbe8;
	border: none;
	float:left;
	border-radius: 5px;
	font-family: fira_sansbook;
	font-size:36px;
  	color: #FFF;
}
.popap-button-wrapper{
	width:150px;
	margin: 0 auto 200px auto;
}
.copyright{
	padding-top:32px;
	margin:0 auto;
	font-family: fira_sanslight;
	font-size:13px;
	width:430px;
}

.clearfix:before,
.clearfix:after{
	content:" ";
	display:table;
}
.clearfix:after{
	clear:both;
}