html{
	height: 100%
}
body{
	height:100%;
	background:url(../img/comppattern2.png) repeat; 
	font:normal 1em 'fira_sanlight';
	color: #4a545d;
}
.wrapper{
	min-height:100%;
	height:auto!important;
	overflow:hidden;
}
.wrapper:after {
	content: "";
	height: 80px;
	display: block;
}
.page-footer{
	height: 80px;
	margin: -80px auto 0px auto;
	background:#eff3f7  url('/img/line.png') top center no-repeat;;
}
.footer-container{
	min-width:960px;
	max-width:1200px;
	margin: 0 auto;
}
.page-header{
	height:119px;
}
.header-wrapper{
	margin-bottom:39px;
	background:#eff3f7 url('/img/line.png') bottom center no-repeat;

}
.container-big{
	min-width:960px;
	max-width:1200px;
	margin: 0 auto;
}
.container{
	width:960px;
	margin: 0 auto;
}
.logo-box{
	float:left;
	
	margin: 39px 0px 0px 0px;
}
.socials-box{
	float:right;
}
.sidebar{
	float:left;

}
.variable-content{
	float:right;
	width:650px;
}
.socials{
	margin-top:35px;
	height:47px;
	padding:0;
}
.social-item{
	display:inline-block;
	height:100%;
	width:47px;
	margin-left:20px;
}
.social-item:first-child{
	margin-left:0px;
}
.hid-text,.header-logo-text{
	display:none !important;
}
.navigation{
	margin-bottom:26px;
	border-radius:2% 2%;
	overflow:hidden;
}

.navigation-item{
	background-color: #eff3f7;
	display:block; 
	width:250px;
	height:70px;
	list-style-type: none;
	font-size: 23px;
	color:#3ba8c0;
	border-top: 2px solid #3ba8c0;

}
.navigation-item:first-child{
	border-top:none;
}
.current{
	height:71px;
	background-color:#3ba8c0;
}

.current a{
	color:#ffffff;
	font-size: 23px;

}
.navigation-link{
	margin-left:27px;
	padding-top:20px;
	width:100%;
	height:100%;
	display :block;
	text-decoration: none;
	font-family:fira_sansbook;
	font-size: 21px;
	color:#adb2bd;
	
}
.navigation-link:hover{
	color:#3ba8c0;
}
.current a:hover{
	color:#ffffff;
}

.navigation-list{
	padding:0px;
	margin: 0px;
}
.fb{
    background: url(../img/fb.png) 0px center no-repeat;
    display:block;
    height:100%;
}
.tw{
    background: url(../img/tw.png) 0px center no-repeat;
    display:block;
    height:100%;
}
.vk{
    background: url(../img/vk.png) 0px center no-repeat;
    display:block;
    height:100%;
}
.gh{
   background: url(../img/gh.png) 0px center no-repeat;
   display:block;
   height:100%;
}
.fb:hover{
    background: url(../img/fb-hover.png) 0px center no-repeat;
}
.tw:hover{
    background: url(../img/tw-hover.png) 0px center no-repeat;
}
.vk:hover{
    background: url(../img/vk-hover.png) 0px center no-repeat;
}
.gh:hover{
    background: url(../img/gh-hover.png) 0px center no-repeat;
}
.contacts{
	border-radius:2% 2%;
	overflow:hidden
}
.contacts-header{
	background-color: #3ba8c0;
	height:40px;
}
.header-inner-text{
	display:block;
	margin-left:18px;
	padding-top:8px;
	color:#ffffff;
	font-family:fira_sansbook;
	font-size: 21px;
	font-style: normal;
}
.contacts-list{
	margin:0px;
	padding:0px;
}
.contacts-item{
	display:block; 
	width:100%;
	height:40px;
}
.contacts-item-mail{
	background: url(../img/mail.png) 43px center no-repeat;
}
.contacts-item-phone{
	background: url(../img/phone.png) 43px center no-repeat;
}
.contacts-item-skype{
	background: url(../img/skype.png) 43px center no-repeat;
}
.contact-text{
	font-family:fira_sansbook;
	font-size: 17px;
	font-style: normal;
}
.contact-text:hover{
	text-decoration: underline;
}
.contacts-link{
	display: block;
	width:100%;
	height:100%;
	margin-left:83px;
	padding-top:10px;
	text-decoration: none;
	color:#ffffff;
	font-size: 17px;

}
.contacts-item-mail{
	background-color: #41b9d4;
}
.contacts-item-phone{
	background-color: #48cbe8;
}
.contacts-item-skype{
	background-color: #51daf8;
}


.aboutbox{
	background-color: #eff3f7;
	margin-bottom: 27px;
}
.aboutbox-header{
	margin-left:21px;
	margin-top:0px;
	margin-bottom: 17px;
	padding:14px 0px 10px 0px ;
	color:#3ba8c0;
	border-bottom-width: 2px; /* Толщина линии внизу */
    border-bottom-style: solid; /* Стиль линии внизу */
    border-bottom-color: #3ba8c0; /* Цвет линии внизу */
    font-family:fira_sansbook;
	font-size: 27px;
	font-weight:normal;
	display:inline-block;
}
.image-wrapper{
	position: relative;
	width:181px;
	height:127px;
	border: 1px solid #48cbe8;
	border-radius: 3px;
	margin-bottom: 8px;
}
.image-overlay{
	opacity:0;
  	top: 0;
  	left: 0;
	width:100%;
	height:100%;
	position:absolute;
	background: #016ca4;
	text-align: center;

}
.link-into-overlay{
 	margin-top:40px;
 	display: inline-block;
  	padding: 5px 5px;
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 4px;
	font-family: 'fira_sansbook';
	font-size: 12px;
	color: #fff;
}
.image-name{
	text-align: center;
}
.url-style{
	text-decoration: none;
	color:#48cbe8;
	font-size:13px;
	font-family: fira_sanslight;
	font-style:italic;

}
.work-preview{
	text-align:center;

	overflow: hidden;
	font-family: fira_sanslight;
	font-size:15px;
	color:#4a545d;
}
.works-list{
	padding-left: 0px;
	margin-top: 10px;
	margin-bottom: 306px;
}
.works-list-item{
	display: inline-table;
	width:182px;
	/*height:226px;*/
	margin-left:23px;
	margin-bottom: 15px;
}
.work-image{

	margin-bottom:4px;
}
.copyright{
	padding-top:32px;
	margin-left:205px;
	float:left;
	font-family: fira_sanslight;
	font-size:13px;
}
.lock{
	width:300px;
	height:80px;
	float:left;
	
}
.lock-inner{
	display:block;
	background: url(../img/lock.png) 250px center no-repeat;
	height: 100%;
}
/* попап */
.grey-fon-wrapper{
	cursor:pointer;
	display: block;
	position:fixed;
	opacity: 0.3;
	width:100%;
	min-height:100%;
	background: #000000;
	z-index:1;
	
}
.popap-container{
	display: block;
  	left: 770px;
  	top: 250px;
	position:absolute;
	z-index:2000;
	background-color: #eff3f7;
	border-radius:2% 2% 0% 0%;
	overflow: hidden;

}

.popap-container-header{

	background: #48cbe8;
	color:#3ba8c0;
	padding: 1px 1px;
	border-bottom: 13px solid #67dffa;
	margin-bottom:17px;
}

.popap-container-header-text{
	text-align: center;
  	vertical-align: middle;
	font-size: 23px;
	color:#ffffff;
	font-family:fira_sansbook;
	font-weight:normal;
	margin: 15px;
}
.popap-container-body{
	width:420px;
	margin: 0 auto;
}

.popap-form-wrapper{
	padding:10px 15px;
	margin: 0 auto;
}
.popap-input-name-wrapper{
	width:100%;
	margin-bottom:11px;

}
.popap-input-password-wrapper{
	width:100%;
	margin-bottom:11px;
}

.popap-input-form{
  display:block;
  width: 95%;
  border: 1px solid #48cbe8;
  font-family: fira_sanslight;
  font-size: 13px;
  color: #48cbe8;
  height: 28px;
  border-radius: 4px;
  padding-left:10px;
}
.popap-textarea-form{
	padding:5px 0 0 10px;
	width :95%;
	border: 1px solid #48cbe8;
	font-family: fira_sanslight;
	font-size: 13px;
	color: #48cbe8;
	height: 100px;
	border-radius: 4px;

}
.popap-form-title{
	font-size:18px;
	font-family: fira_sanslight;
	color: #849db5;
	display: block;
}

.popap-input-form-container{
	margin-bottom: 36px;
}

.popap-submit-form{
	padding: 0 20px;
	background-color: #48cbe8;
	border: none;
	border-radius: 5px;
	font-family: fira_sansbook;
	font-size:20px;
  	color: #FFF;

}
.popap-button-wrapper{
  text-align: center;
  margin: 15px auto 10px auto;
}
.popap-textarea-form::-webkit-input-placeholder {  
	margin-left:5px;
	font-family: fira_sanslight;
	font-size: 13px;
	color: #48cbe8;
}
.popap-textarea-form::-moz-placeholder{  
	margin-left:5px;
	font-family: fira_sanslight;
	font-size: 13px;
	color: #48cbe8;
}
.popap-textarea-form:-moz-placeholder{  
	margin-left:5px;
	font-family: fira_sanslight;
	font-size: 13px;
	color: #48cbe8;
}
.popap-textarea-form:-ms-input-placeholder{  
	margin-left:5px;
	font-family: fira_sanslight;
	font-size: 13px;
	color: #48cbe8;
}
.popap-input-form::-webkit-input-placeholder {  
	margin-left:5px;
	font-family: fira_sanslight;
	font-size: 13px;
	color: #48cbe8;
}
.popap-input-form::-moz-placeholder{
	margin-left:5px;
	font-family: fira_sanslight;
	font-size: 13px;
	color: #48cbe8;
}/* Firefox 19+ */
.popap-input-form:-moz-placeholder{
	margin-left:5px;
	font-family: fira_sanslight;
	font-size: 13px;
	color: #48cbe8;
}/* Firefox 18- */
.popap-input-form:-ms-input-placeholder{
	margin-left:5px;
	font-family: fira_sanslight;
	font-size: 13px;
	color: #48cbe8;
}
/* /попап */

.clearfix:before,
.clearfix:after{
	content:" ";
	display:table;
}
.clearfix:after{
	clear:both;
}